footer.scroll-to-sec.footer
	.footer__top.top-footer 
		.top-footer__container 
			.top-footer__title 联系方式
			.top-footer__row
				.top-footer__column.top-footer__column--white 
					.top-footer__column-title 瓦西里·帕普金
					ul.top-footer__column-list
						li.top-footer__column-item 合伙人
						li.top-footer__column-item 能源和自然资源
						li.top-footer__column-item 并购交易
					.top-footer__bottom 
						a(href="mailto:v.papkin@iplf.ru") v.papkin@iplf.ru
					ul.top-footer__contacts
						li.top-footer__contact
							a(href='tel:8616621226263').top-footer__contact-text +86 166 2122 6263
						li.top-footer__contact
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip0_811_2646)">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M20.4 24C22.3882 24 24 22.3883 24 20.4V3.6C24 1.61176 22.3882 0 20.4 0H3.6C1.61176 0 0 1.61176 0 3.6V20.4C0 22.3883 1.61168 24 3.6 24H20.4ZM16.0641 8.95002C14.1271 9.05122 12.4427 9.63842 11.0752 10.9651C9.69347 12.3054 9.06275 13.9478 9.23515 15.9838C9.0176 15.9568 8.80562 15.9291 8.59752 15.9019C8.0814 15.8344 7.58915 15.77 7.09491 15.7284C6.85539 15.7083 6.57115 15.7369 6.36827 15.8514C5.88715 16.1229 5.42024 16.4194 4.91378 16.741C4.71133 16.8696 4.50256 17.0021 4.28403 17.1387C4.32751 16.9421 4.36623 16.753 4.40376 16.5698L4.40376 16.5698C4.48743 16.1613 4.56513 15.782 4.67619 15.4127C4.79451 15.0196 4.73971 14.8008 4.37755 14.5448C2.05227 12.9031 1.07211 10.4463 1.80563 7.91682C2.48427 5.57682 4.15083 4.1577 6.41531 3.41794C9.50611 2.40834 12.9796 3.43818 14.8591 5.8921C15.5379 6.7785 15.9541 7.77338 16.0641 8.95002ZM7.14915 8.16186C7.16699 7.69922 6.76611 7.28242 6.28995 7.2685C5.80243 7.25418 5.40147 7.62674 5.38723 8.10714C5.37283 8.59402 5.74523 8.98418 6.23627 8.99666C6.72307 9.00898 7.13115 8.63594 7.14915 8.16186ZM11.8004 7.26818C11.3225 7.27698 10.9187 7.68402 10.9272 8.1485C10.9359 8.62994 11.332 9.00658 11.8235 9.00066C12.3162 8.99474 12.6899 8.6141 12.6852 8.1225C12.6812 7.63994 12.2868 7.2593 11.8004 7.26818ZM20.4158 21.0263C20.2266 20.942 20.0423 20.8448 19.8602 20.7488C19.4519 20.5334 19.055 20.3241 18.6407 20.2808C18.2903 20.2442 17.9293 20.3479 17.5646 20.4526C17.3083 20.5261 17.0501 20.6002 16.7924 20.6266C14.8907 20.8212 13.1871 20.2912 11.7823 18.992C9.1105 16.5208 9.49226 12.7317 12.5834 10.7066C15.3307 8.90675 19.3597 9.50675 21.2967 12.0041C22.987 14.1833 22.7883 17.0761 20.7248 18.9068C20.1277 19.4367 19.9128 19.8727 20.2959 20.5712C20.3438 20.6584 20.3629 20.7613 20.383 20.8692C20.3927 20.9208 20.4025 20.9736 20.4158 21.0263ZM13.4339 14.2664C13.8243 14.2668 14.1459 13.9612 14.1607 13.5755C14.1763 13.1672 13.8479 12.8247 13.439 12.823C13.0342 12.8212 12.6951 13.1684 12.7091 13.5707C12.7224 13.955 13.0462 14.2659 13.4339 14.2664ZM17.9347 12.8246C17.5559 12.822 17.2339 13.1321 17.2185 13.5149C17.2021 13.9243 17.5203 14.2604 17.9254 14.2615C18.3172 14.2628 18.6268 13.9664 18.6411 13.5765C18.6563 13.1662 18.3379 12.8274 17.9347 12.8246Z" fill="black"/>
								</g>
								<defs>
								<clipPath id="clip0_811_2646">
								<rect width="24" height="24" fill="white"/>
								</clipPath>
								</defs>
							</svg>
							a(href="https://msngr.link/wc/Vasily_Papkin").top-footer__contact-text Vasily_Papkin
				.top-footer__column 
					.top-footer__column-title 克里斯托弗·伊万扬
					ul.top-footer__column-list
						li.top-footer__column-item 合伙人
						li.top-footer__column-item 并购交易
						li.top-footer__column-item 国际争端
					.top-footer__bottom 
						a(href="mailto:kh.ivanyan@iplf.ru") kh.ivanyan@iplf.ru
				.top-footer__column 
					.top-footer__column-title 达里娅·塞梅尼基纳
					ul.top-footer__column-list
						li.top-footer__column-item 合伙人
						li.top-footer__column-item 金融交易和公司交易
					.top-footer__bottom 
						a(href="mailto:d.semenikhina@iplf.ru") d.semenikhina@iplf.ru
				.top-footer__column 
					.top-footer__column-title 马克·罗文斯基
					ul.top-footer__column-list
						li.top-footer__column-item 合伙人
						li.top-footer__column-item 监管与合规
						li.top-footer__column-item 税务
					.top-footer__bottom 
						a(href="mailto:m.rovinskiy@iplf.ru") m.rovinskiy@iplf.ru
	.footer__bottom.bottom-footer
		.bottom-footer__left 
			.bottom-footer__logo 
				img(src="images/logo-footer.svg" alt="alt")
			.bottom-footer__left-link 
				a(href="https://ivanyan.partners/en/") 全球网站
			.bottom-footer__copyright.bottom-footer__copyright--desk © Ivanyan and Partners 2023
		.bottom-footer__middle 
			.bottom-footer__middle-row
				.bottom-footer__middle-column 
					.bottom-footer__middle-title 莫斯科
					.bottom-footer__middle-adress 119017, 
						span 俄罗斯，莫斯科，
						br
						|卡达舍夫斯卡娅河堤路，
						span 
							span.text-other-family 14
							|号
							span.text-other-family  3
							|号楼
					.bottom-footer__middle-contacts 
						a(href="tel:4956470046") +7 495 647 0046
						a(href="mailto:reception.mos@iplf.ru") reception.mos@iplf.ru  
				.bottom-footer__middle-column 
					.bottom-footer__middle-title 圣彼得堡
					.bottom-footer__middle-adress 190098, 
						span 俄罗斯，圣彼得堡，
						br
						span 康诺格瓦尔代斯基大道，
							span.text-other-family 5
							|号
							span.text-other-family  101
							|室
					.bottom-footer__middle-contacts 
						a(href="tel:8126470046") +7 812 647 0046 
						a(href="mailto:reception.spb@iplf.ru ") reception.spb@iplf.ru  
		.bottom-footer__right 
			a(href="https://ivanyan.partners/en/") 全球网站
		.bottom-footer__copyright.bottom-footer__copyright--mob 
			a(href="") © Ivanyan and Partners 2023