footer.scroll-to-sec.footer
	.footer__top.top-footer 
		.top-footer__container 
			.top-footer__title 联系方式
			.top-footer__row 
				.top-footer__column 
					.top-footer__column-title 克里斯托弗·伊万扬
					ul.top-footer__column-list
						li.top-footer__column-item 合作伙伴
						li.top-footer__column-item 并购交易
						li.top-footer__column-item 国际争端
					.top-footer__bottom 
						span 邮箱:
						a(href="mailto:kh.ivanyan@iplf.ru") kh.ivanyan@iplf.ru
				.top-footer__column 
					.top-footer__column-title 达里娅·塞梅尼基纳
					ul.top-footer__column-list
						li.top-footer__column-item 合作伙伴
						li.top-footer__column-item 金融和公司交易
					.top-footer__bottom 
						span 邮箱:
						a(href="mailto:d.semenikhina@iplf.ru") d.semenikhina@iplf.ru
				.top-footer__column 
					.top-footer__column-title 马克·罗文斯基
					ul.top-footer__column-list
						li.top-footer__column-item 合作伙伴
						li.top-footer__column-item 监管与合规
						li.top-footer__column-item 税务
					.top-footer__bottom 
						span 邮箱:
						a(href="mailto:m.rovinskiy@iplf.ru") m.rovinskiy@iplf.ru
				.top-footer__column 
					.top-footer__column-title 沃西利·帕普金
					ul.top-footer__column-list
						li.top-footer__column-item 顾问
						li.top-footer__column-item 能源和自然资源
						li.top-footer__column-item 并购交易
					.top-footer__bottom 
						span 邮箱:
						a(href="mailto:v.papkin@iplf.ru") v.papkin@iplf.ru
	.footer__bottom.bottom-footer
		.bottom-footer__left 
			.bottom-footer__logo 
				img(src="images/logo-footer.svg", alt="alt")
			.bottom-footer__left-link 
				a(href="https://ivanyan.partners/en/") 全球网站
			.bottom-footer__copyright.bottom-footer__copyright--desk © Ivanyan and Partners 2023
		.bottom-footer__middle 
			.bottom-footer__middle-row
				.bottom-footer__middle-column 
					.bottom-footer__middle-title 莫斯科
					.bottom-footer__middle-adress 119017, 
						span 俄罗斯, 莫斯科, 
						br
						|Kadashevskaya Nab., 
						span 
							span.text-other-family 14
							|号
							span.text-other-family 3
							|号楼
					.bottom-footer__middle-contacts 
						a(href="tel:4956470046") +7 495 647 0046    
						a(href="mailto:reception.mos@iplf.ru") reception.mos@iplf.ru  
				.bottom-footer__middle-column 
					.bottom-footer__middle-title 圣彼得堡
					.bottom-footer__middle-adress 190098, 
						span 俄罗斯, 圣彼得堡, 
						br
						span 康诺瓦尔代斯基大道, 
							span.text-other-family 5
							|号 
							span.text-other-family 101
							|办公室
					.bottom-footer__middle-contacts 
						a(href="tel:8126470046") +7 812 647 0046 
						a(href="mailto:reception.spb@iplf.ru ") reception.spb@iplf.ru  
		.bottom-footer__right 
			a(href="https://ivanyan.partners/en/") 全球网站
		.bottom-footer__copyright.bottom-footer__copyright--mob 
			a(href="") © Ivanyan and Partners 2023