header.header
	.header__top 
		.header__logo 
			img(src="images/logo.svg", alt="alt")
		.header__right 
			a(href="https://ivanyan.partners/en/") 全球网站
	.header__bottom 
		.my-container
			img(src="images/menu-mobile.png", alt="alt").header__burger
			.header__menu.menu-header
				img(src="images/menu-mobile-close.png", alt="alt").menu-header__close

				ul.menu-header__list 
					li.menu-header__item 
						a.menu-header__link.click(href="")
							span 专业领域
					li.menu-header__item 
						a.menu-header__link.click(href="")
							span 人员
					li.menu-header__item 
						a.menu-header__link.click(href="")
							span 鉴定
					li.menu-header__item 
						a.menu-header__link.click(href="")
							span 范围
					li.menu-header__item 
						a.menu-header__link.click(href="")
							span 选定的经验
					li.menu-header__item 
						a.menu-header__link.click(href="")
							span 联系方式