.intro {
	padding-top: 163px;
	position: relative;
	&::before{
		content:'';
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		width: 50%;
		height: 100%;
		background-color: #CEECFF;
	}
	@media (max-width: 767px){
		padding-top: 138px;
	}
	@media (max-width: 479px){
		padding-top: 77px;
	}
	&__body {
		padding: 88px 0 64px;
		@media (max-width: 767px){
			padding: 64px 0 40px;
		}
		@media (max-width: 479px){
			padding: 80px 0 60px;
		}
	}
	&__logo {
		max-width: 645px;
		@media (max-width: 767px){
			max-width: 78.638%;
		}
		@media (max-width: 479px){
			max-width: 100%;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	&__title {
		margin-top: 80px;
		color: var(--orange, #F04E00);
		font-family: Noto Sans SC;
		font-size: 96px;
		font-style: normal;
		font-weight: 700;
		line-height: 116.667%;
		@media (max-width: 767px){
			margin-top: 60px;
			font-size: 64px;
			line-height: 112%;
		}
	}
}