.intro {
	padding-top: 163px;
	position: relative;
	&::before{
		content:'';
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		width: 50%;
		height: 100%;
		background-color: #CEECFF;
	}
	@media (max-width: 767px){
		padding-top: 138px;
	}
	&__body {
		position: relative;
		padding: 110px 0 64px;
		@media (max-width: 767px){
			padding: 214px 0 40px;
		}
		@media (max-width: 479px){
			padding: 214px 0 20px;
		}
	}
	&__knowledge-hub {
		position: absolute;
		top: 29px;
		left: calc(50% - 16px);
		z-index: 1;
		width: 269px;
		height: 124px;
		padding: 22px 24px;
		background: #F2F9FF;
		color: #000;
		font-family: Styrene A LC Web;
		@media (max-width: 1199px){
			left:50%;
		}
	}
	&__knowledge-new {
		position: absolute;
		top: -16px;
		right: -16px;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: var(--orange, #F04E00);
		color: #FFF;
		font-size: 16px;
		font-weight: 700;
		line-height: 1;
		transform: rotate(12deg);
	}
	&__knowledge-title {
		display: inline;
		font-size: 16px;
		font-weight: 700;
		line-height: 125%;
		text-decoration-line: underline;
		text-decoration-thickness: 1px;
		text-underline-offset: 3px;
	}
	&__knowledge-text {
		margin-top: 14px;
		font-size: 14px;
		font-weight: 400;
		line-height: 171.429%;
	}
	&__logo {
		max-width: 645px;
		@media (max-width: 767px){
			max-width: 100%;
		}
		@media (max-width: 479px){
			max-width: 100%;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	&__title {
		margin-top: 80px;
		color: var(--orange, #F04E00);
		font-family: Noto Sans SC;
		font-size: 96px;
		font-style: normal;
		font-weight: 700;
		line-height: 116.667%;
		@media (max-width: 767px){
			margin-top: 60px;
			font-size: 64px;
			line-height: 112%;
		}
	}
	@media (max-width: 767px){
		&__knowledge-hub {
			border-radius:0 28px 0 0;
			top: 18px;
			left: auto;
			right: 0;
			width: 320px;
			min-height: 116px;
			padding: 24px;
		}
		&__knowledge-new {
			width: 56px;
			height: 56px;
			font-size: 14px;
			font-weight:400;
			right:0;
			top:0;
		}
		&__knowledge-text {
			margin-top: 14px;
			font-size: 14px;
		}
	}
	
}


.intro--en{
	.intro__title{
		font-size:72px;
		line-height:80px;
		font-family: Styrene A LC Web;
		@media (max-width: 1000px){
			max-width:880px;
		}
		@media (max-width: 800px){
			max-width:600px;
		}
		@media (max-width: 767px){
			font-size:36px;
			line-height:40px;
		}
		@media (max-width: 479px){
			max-width:280px;
		}
	}
}
