.footer {
	margin-top: 105px;
	@media (max-width: 767px){
		margin-top: 84px;
	}
	&__top {
		background: var(--blue, #CEECFF);
	}
	&__bottom {
		background: var(--black, #000);
		padding: 40px;
		@media (max-width: 767px){
			padding: 32px 20px 40px;
		}
	}
}
.top-footer {
	&__container {
		width: 1372px;
		max-width: 100%;
		margin: 0 auto;
		padding: 60px 40px 80px;
		@media (max-width: 767px){
			padding: 40px 20px;
		}
	}
	&__title {
		color: var(--orange, #F04E00);
		font-family: Noto Sans SC;
		font-size: 48px;
		font-style: normal;
		font-weight: 700;
		line-height: 116.667%;
		letter-spacing: 2.88px;
		@media (max-width: 767px){
			font-size: 36px;

		}
	}
	&__row {
		margin-top: 60px;
		display: flex;
		@media (max-width: 1199px){
			flex-wrap: wrap;
			row-gap: 60px;
			max-width: 690px;
		}
		@media (max-width: 767px){
			margin-top: 20px;
			flex-wrap: wrap;
			row-gap: 24px;
		}
	}
	&__column {
		position: relative;
		flex: 0 0 25%;
		display: flex;
		flex-direction: column;
		@media (max-width: 1199px){
			flex: 0 1 50%;
		}
		@media (max-width: 767px){
			flex: 0 1 100%;
		}
		&--white {
			&:before {
				content: "";
				width: 234px;
				height: calc(100% + 48px);
				position: absolute;
				top: -20px;
				left: -20px;
				background-color: #fff;
				z-index: 0;
				@media (max-width: 1199px){
					width: 254px;
					left: -40px;
				}
				@media (max-width: 767px){
					content: none;
				}
			}
			.top-footer__bottom a {
				border-bottom: 2px solid #ABD9FE;
				@media (max-width: 767px){
					border-bottom: 2px solid #fff;
				}
			}
		}
		&-title {
			position: relative;
			color: #000;
			font-family: Noto Sans SC;
			font-size: 18px;
			font-style: normal;
			font-weight: 700;
			line-height: 177.778%;
		}
		&-list {
			position: relative;
			margin-top: 20px;
			flex: 1 1 auto;
			max-height: 96px;
			@media (max-width: 767px){
				margin-top: 16px;
			}
		}
		&-item {
			position: relative;
			color: #000;
			font-family: Noto Sans SC;
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: 177.778%;
			@media (max-width: 767px){
				line-height: 155.55%;
			}
		}
	}
	&__contacts {
		position: relative;
		margin-top: 20px;
		@media (max-width: 767px){
			margin-top: 12px;
			margin-bottom: 8px;
		}
		&:before {
			content: none;
			width: 234px;
			height: calc(100% + 15px);
			position: absolute;
			top: -5px;
			left: -20px;
			background-color: #fff;
			z-index: 0;
			@media (max-width: 767px){
				content: "";
			}
		}
	}
	&__contact {
		position: relative;
		display: flex;
		align-items: center;
		svg {
			width: 24px;
			height: 24px;
			margin-right: 12px;
		}
		a {
			color: var(--black, #000);
			font-family: Styrene A LC Web;
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: 177.778%;
			transition: all 0.3s ease 0s;
			&:hover{
				color: var(--orange, #F04E00);
			}
		}
	}
	&__bottom  {
		position: relative;
		margin-top: 20px;
		padding-bottom: 16px;
		@media (max-width: 767px){
			margin-top: 16px;
		}
		span {
			color: var(--black, #000);
			font-family: Noto Sans SC;
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: 177.778%;
		}
		a {
			border-bottom: 2px solid #ffffff;
			display: inline-block;
			color: var(--black, #000);
			font-family: Styrene A LC Web;
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: 177.778%;
			transition: all 0.3s ease 0s;
			&:hover{
				color: var(--orange, #F04E00);
				border-bottom: 2px solid transparent;
			}
			&:not(:first-child){
				margin-left: 8px;
			}
		}
	}
}

.bottom-footer {
	display: flex;
	@media (max-width: 767px){
		flex-direction: column;
	}
	&__left {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		@media (max-width: 767px){
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
	}
	&__left-link {
		display: none;
		@media (max-width: 999px){
			display: block;
			color: var(--blue, #CEECFF);
			margin-bottom: 32px;
			font-family: Noto Sans SC;
			font-size: 15px;
			font-style: normal;
			font-weight: 700;
			line-height: 133.333%;
		}
		@media (max-width: 767px){
			margin: 0;
		}
	}
	&__logo {
		flex: 1 1 auto;
		max-width: 355px;
		@media (max-width: 1371px){
			max-width: 299px;
		}
		@media (max-width: 999px){
			max-width: 299px;
		}
		@media (max-width: 479px){
			max-width: 209px;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	&__copyright {
		color: var(--blue, #CEECFF);
		font-family: Styrene A LC Web;
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		&--desk {
			@media (max-width: 767px){
				display: none;
			}
		}
		&--mob {
			display: none;
			@media (max-width: 767px){
				display: block;
				margin-top: 56px;
			}
		}
	}
	&__middle {
		padding-top: 16px;
		flex: 0 0 572px;
		@media (max-width: 1199px){
			flex: 0 0 396px;
		}
		@media (max-width: 999px){
			flex: 0 0 272px;
		}
		@media (max-width: 767px){
			flex: 1 1 100%;
			margin-top: 56px;
			padding: 0;
		}
	}
	&__middle-row {
		display: flex;
		justify-content: space-between;
		@media (max-width: 999px){
			flex-direction: column;
			row-gap: 40px;
		}
	}
	&__middle-column {
		flex: 0 0 276px;
		@media (max-width: 1199px){
			flex: 0 0 186px;
		}
		@media (max-width: 999px){
			flex: 0 0 100%;
		}
	}
	&__middle-title {
		color: var(--blue, #CEECFF);
		font-family: Noto Sans SC;
		font-size: 15px;
		font-style: normal;
		font-weight: 700;
		line-height: 133.333%;
	}
	&__middle-adress {
		margin-top: 20px;
		color: var(--blue, #CEECFF);
		font-family: Styrene A LC Web;
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
		span {
			font-family: Noto Sans SC;
		}
	}
	&__middle-contacts {
		margin-top: 20px;
		a {
			color: var(--blue, #CEECFF);
			font-family: Styrene A LC Web;
			font-size: 15px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			display: block;
			transition: all 0.3s ease 0s;
			&:last-child{
				text-decoration-line: underline;
			}
			&:hover{
				color: var(--black, #F04E00);
			}
		}
	}
	&__right {
		padding-top: 16px;
		margin-left: 150px;
		@media (max-width: 1199px){
			margin-left: 60px;
		}
		@media (max-width: 999px){
			display: none;
		}
		a {
			color: var(--blue, #CEECFF);
			font-family: Noto Sans SC;
			font-size: 15px;
			font-style: normal;
			font-weight: 700;
			line-height: 133.333%;
			transition: all 0.3s ease 0s;
			&:hover{
				color: var(--black, #F04E00);
			}
		}
	}
}